ESBAplication/ModeloCanonico/MC/MensagemRetorno.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ci="http://pucminas.br/mc/soa/cleberigor"
            targetNamespace="http://pucminas.br/mc/soa/cleberigor" elementFormDefault="qualified">
  <xsd:complexType name="MensagemRetorno">
    <xsd:sequence>
      <xsd:element name="Codigo" type="xsd:integer"/>
      <xsd:element name="descricao" type="xsd:string"/>
      <xsd:element name="isAtivo" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
