ESBAplication/EBS/Credito/wsdl/CreditoService.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="CreditoService"
     targetNamespace="http://pucminas.br/sn/creditoservice/cleberigor"
     xmlns:tns="http://pucminas.br/sn/creditoservice/cleberigor"
     xmlns:inp1="http://pucminas.br/sn/creditoservice/cleberigor"
     xmlns:inp2="http://pucminas.br/mc/soa/cleberigor"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://pucminas.br/sn/creditoservice/cleberigor" schemaLocation="../xsd/ParametrosCredito.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://pucminas.br/mc/soa/cleberigor" schemaLocation="../../../ModeloCanonico/MC/PucminasFault.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="verificaCreditoExternoRequest">
        <wsdl:part name="parameters" element="tns:parametrosVerificaCreditoExterno"/>
    </wsdl:message>
    <wsdl:message name="verificaCreditoExternoResponse">
        <wsdl:part name="parameters" element="tns:resultadoVerificaCreditoExterno"/>
    </wsdl:message>
    <wsdl:message name="pucminasFault">
        <wsdl:part name="pucminasFault" type="inp2:PucminasFault"/>
    </wsdl:message>
      <wsdl:message name="verificaCreditoInternoRequest">
        <wsdl:part name="parameters" element="tns:parametrosVerificaCreditoInterno"/>
    </wsdl:message>
    <wsdl:message name="verificaCreditoInternoResponse">
    <wsdl:part name="parameters" element="tns:resultadoVerificaCreditoInterno"/>
    </wsdl:message>
    <wsdl:message name="verificaWhiteListRequest">
        <wsdl:part name="parameters" element="tns:parametrosVerificaWhiteList"/>
    </wsdl:message>
    <wsdl:message name="verificaWhiteListResponse">
        <wsdl:part name="parameters" element="tns:resultadoVerificaWhiteList"/>
    </wsdl:message>
    <wsdl:portType name="CreditoService">
        <wsdl:operation name="verificaCreditoExterno">
            <wsdl:input message="tns:verificaCreditoExternoRequest"/>
            <wsdl:output message="tns:verificaCreditoExternoResponse"/>
            <wsdl:fault name="pucminasFault" message="tns:pucminasFault"/>
        </wsdl:operation>
        <wsdl:operation name="verificaCreditoInterno">
            <wsdl:input message="tns:verificaCreditoInternoRequest"/>
            <wsdl:output message="tns:verificaCreditoInternoResponse"/>
            <wsdl:fault message="tns:pucminasFault" name="pucminasFault"/>
        </wsdl:operation>
        <wsdl:operation name="verificaWhiteList">
            <wsdl:input message="tns:verificaWhiteListRequest"/>
            <wsdl:output message="tns:verificaWhiteListResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreditoServiceSOAP" type="tns:CreditoService">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="verificaCreditoExterno">
            <soap:operation style="document" soapAction="verificaCreditoExterno"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://pucminas.br/sn/creditoservice/cleberigor"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://pucminas.br/sn/creditoservice/cleberigor"/>
            </wsdl:output>
            <wsdl:fault name="pucminasFault">
                <soap:fault name="pucminasFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verificaCreditoInterno">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pucminasFault">
                <soap:fault name="pucminasFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="verificaWhiteList">
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CreditoService">
        <wsdl:port name="CreditoServiceSOAP" binding="tns:CreditoServiceSOAP">
            <soap:address location="http://pucminas.br/soa/credito"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
